<template>
  <div class="home">
    <Search
      label="search"
      placeholder="Search a deal or document"
      @search="getSearch($event)"
    />

    <Select
      :options="{
        agentList: getSelectData('agent_name'),
        industryList: getSelectData('industry_name'),
      }"
      @select-agent="getSelectAgent($event)"
      @select-industry="getSelectIndustry($event)"
    />

    <Sort
      @sort="getSort($event)"
    />

    <!-- <pre class="pre">{{ fullData }}</pre> -->

    <Table
      :options="flexSearch"
      :search="searchString"
    />
  </div>
</template>

<script>
// Vuex
import { mapState, mapActions } from 'vuex';

// Plugins
import { search } from 'ss-search';

export default {
  name: 'Home',

  components: {
    Search: () => import('@/components/Search'),
    Sort: () => import('@/components/Sort'),
    Select: () => import('@/components/Select'),
    Table: () => import('@/components/Table'),
  },

  data() {
    return {
      // States
      searchString: '',
      list: [],
    };
  },

  computed: {
    ...mapState([
      'fullData',
    ]),

    flexSearch() {
      const searchKeys = ['DealName', 'docs'];
      return search(this.fullData, searchKeys, this.searchString);
    },
  },

  created() {
    this.getModel();
  },

  methods: {
    ...mapActions([
      'getModel',
      'sortModel',
      'filterByAgent',
      'filterByIndustry',
    ]),

    getSearch(e) {
      this.searchString = e;
    },

    getSort(e) {
      this.sortModel(e);
    },

    getSelectData(key) {
      const keys = this.flexSearch.map((item) => item.docs.map((doc) => doc.holding[key]));
      const uniq = [];

      for (let i = 0; i <= keys.length - 1; i += 1) {
        if (keys[i].toString() !== '') {
          uniq.push([...new Set(keys[i])].toString());
        }
      }
      return [...new Set(uniq)];
    },

    getSelectAgent(e) {
      this.filterByAgent(e);
    },

    getSelectIndustry(e) {
      this.filterByIndustry(e);
    },
  },
};
</script>

<style lang="scss">
.home {
  padding: 40px 0;

  &__select {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
</style>
