<template>
  <section class="row">
    <div
      :class="[
        'row__content',
        {
          'row__content--mobile': isMobile,
        }
      ]"
      @click="docsOpen = !docsOpen"
    >
      <span>
        <TextHighlight
          :queries="search"
          :highlight-style="highlight"
        >
          {{ options.DealName || 'Unknown' }}
        </TextHighlight>
      </span>
      <span v-if="!isMobile">{{ options.IssuerId || 'Unknown' }}</span>
      <span v-if="!isMobile">{{ options.IndustryId || 'Unknown' }}</span>
      <span v-if="!isMobile">{{ options.Access || 'Unknown' }}</span>
      <span v-if="!isMobile">{{ options.AgentId || 'Unknown' }}</span>
      <span v-if="!isMobile">{{ options.SourceId || 'Unknown' }}</span>
      <span v-if="!isMobile">{{ options.DataroomStatusId || 'Unknown' }}</span>
      <span v-if="!isMobile">{{ options.TypeId || 'Unknown' }}</span>
    </div>

    <transition name="transition">
      <div
        v-if="docsOpen"
        :class="[
          'row__docs',
        ]"
      >
        <div>
          <div class="row__filters">
            <Sort
              @sort="getSort($event)"
            />

            <Search
              placeholder="Search a document"
              @search="getSearch($event)"
            />
          </div>

          <div
            v-if="!isMobile"
            class="row__subhead"
          >
            <span>Documents</span>
            <span>Issuer</span>
            <span>Industry</span>
            <span>Access</span>
            <span>Agent</span>
            <span>Source</span>
            <span>Status</span>
            <span>Type</span>
          </div>

          <div class="row__count">
            Showing: <span>{{ flexSearch.length }} {{ flexSearch.length === 1 ? 'document' : 'documents' }}.</span>
          </div>

          <div v-if="flexSearch.length > 0">
            <transition-group name="transition">
              <div
                v-for="(doc, i) in flexSearch"
                :key="i + 1"
                :class="[
                  'row__subrow',
                  {
                    'row__subrow--mobile': isMobile,
                  }
                ]"
              >
                <span>
                  <div
                    v-if="isMobile"
                    class="row__title"
                  >
                    Doc name:
                  </div>
                  <TextHighlight
                    :queries="search || searchString"
                    :highlight-style="highlight"
                  >
                    {{ doc.doc_name || 'Unknown' }}
                  </TextHighlight>
                </span>
                <span>
                  <div
                    v-if="isMobile"
                    class="row__title"
                  >
                    Issuer name:
                  </div>
                  <TextHighlight
                    :queries="search"
                    :highlight-style="highlight"
                  >
                    {{ doc.holding.issuer_name || 'Unknown' }}
                  </TextHighlight>
                </span>
                <span>
                  <div
                    v-if="isMobile"
                    class="row__title"
                  >
                    Industry name:
                  </div>
                  <TextHighlight
                    :queries="search"
                    :highlight-style="highlight"
                  >
                    {{ doc.holding.industry_name || 'Unknown' }}
                  </TextHighlight>
                </span>
                <span>
                  <div
                    v-if="isMobile"
                    class="row__title"
                  >
                    Access:
                  </div>
                  <TextHighlight
                    :queries="search"
                    :highlight-style="highlight"
                  >
                    {{ doc.is_private ? 'Private' : 'Public' }}
                  </TextHighlight>
                </span>
                <span>
                  <div
                    v-if="isMobile"
                    class="row__title"
                  >
                    Agent name:
                  </div>
                  <TextHighlight
                    :queries="search"
                    :highlight-style="highlight"
                  >
                    {{ doc.holding.agent_name || 'Unknown' }}
                  </TextHighlight>
                </span>
                <span>
                  <div
                    v-if="isMobile"
                    class="row__title"
                  >
                    Source name:
                  </div>
                  <TextHighlight
                    :queries="search"
                    :highlight-style="highlight"
                  >
                    {{ doc.holding.source_name || 'Unknown' }}
                  </TextHighlight>
                </span>
                <span>
                  <div
                    v-if="isMobile"
                    class="row__title"
                  >
                    Status:
                  </div>
                  <TextHighlight
                    :queries="search"
                    :highlight-style="highlight"
                  >
                    {{ doc.holding.deal_status_name || 'Unknown' }}
                  </TextHighlight>
                </span>
                <span>
                  <div
                    v-if="isMobile"
                    class="row__title"
                  >
                    Type:
                  </div>
                  <TextHighlight
                    :queries="search"
                    :highlight-style="highlight"
                  >
                    {{ doc.holding.deal_type_name || 'Unknown' }}
                  </TextHighlight>
                </span>
              </div>
            </transition-group>
          </div>
        </div>
      </div>
    </transition>
  </section>
</template>

<script>
// Mixins
import { search } from 'ss-search';
import screenSizeMixin from '../mixins/screenSizeMixin';

// Plugins

export default {
  name: 'Row',

  components: {
    Sort: () => import('@/components/Sort'),
    Search: () => import('@/components/Search'),
    // Plugin
    TextHighlight: () => import('vue-text-highlight'),
  },

  mixins: [screenSizeMixin],

  props: {
    options: {
      type: Object,
      default: null,
    },
    search: {
      type: String,
      default: String,
    },
  },

  data() {
    return {
      docsOpen: false,
      sortModel: null,
      searchString: '',
      //
      highlight: {
        fontWeight: 700,
        backgroundColor: '#000000',
        color: '#ffde00',
      },
    };
  },

  computed: {
    flexSearch() {
      const searchKeys = ['doc_name'];
      return search(this.sortedSearch, searchKeys, this.searchString);
    },
    sortedSearch() {
      let sorted;
      if (this.sortModel === 'Z-A') {
        sorted = this.getModel().sort((a, b) => (a.doc_name.toLowerCase() > b.doc_name.toLowerCase() ? -1 : 1));
      } else if (this.sortModel === 'A-Z') {
        sorted = this.getModel().sort((a, b) => (b.doc_name.toLowerCase() > a.doc_name.toLowerCase() ? -1 : 1));
      } else {
        sorted = this.getModel();
      }
      return sorted;
    },

    isMobile() {
      return this.screenSize.maxWidth.lg;
    },
  },

  methods: {
    getSort(e) {
      this.sortModel = e;
    },
    getModel() {
      return this.options.docs;
    },
    getSearch(e) {
      this.searchString = e;
    },
  },
};
</script>

<style lang="scss" scoped>
@mixin ellipsis {
  white-space: nowrap;
  -webkit-line-clamp: 1;
  display: -moz-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.row {

  &:nth-child(even) {

    .row__content {
      background: #fcfcfc;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    cursor: pointer;
    padding: 10px 0;

    > span {
      width: 10%;
      font-size: 14px;
      font-weight: 400;
      padding: 0 10px;

      span {
        font-weight: 400;
      }

      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(5) {
        width: 20%;
        @include ellipsis;
      }
    }

    &--mobile {
      flex-direction: column;
      align-items: flex-start;

      span {
        text-align: left !important;
        width: 100% !important
      }
    }

    &:hover {
      background:#E9EFF1 !important;
    }
  }

  &__docs {
    box-shadow: inset 0 0 0 1px rgba(white, 1);

    &::v-deep {
      .sort {
        margin: 0;
        padding: 10px;
        display: flex;
        align-items: center;
        font-size: 14px !important;

        label {
          margin: 0 !important;
          font-size: 14px !important;
        }

        .radio {
          margin: 0 0 0 10px;
        }
      }
    }
  }

  &__subhead,
  &__subrow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > span {
      width: 10%;
      font-size: 14px;
      padding: 10px;

      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(5) {
        width: 20%;
      }
    }
  }

  &__subhead {
    background: #e7ecf0;

    span {
      color: #a5b1cd;
      font-weight: 500;

      &:not(:last-child) {
        border-right: 1px solid #a5b1cd;
      }
    }
  }

  &__subrow {
    background: white;
    border-bottom: 1px solid lightgray;

    span {

      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(5) {
        @include ellipsis;
      }
    }

    &--mobile {
      flex-direction: column;
      align-items: flex-start;

      span {
        width: 100% !important;
        text-align: left !important;
      }
    }
  }

  &__title {
    display: inline-block;
    color: #cc5500;
    font-weight: 600;
    min-width: 130px !important;
  }

  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 0;

    .field {
      width: 50%;
    }
  }

  &__count {
    background: rgb(221, 221, 221);
    padding: 10px;

    span {
      color: #434751;
      font-weight: 600;
    }
  }
}
</style>
