<template>
  <section class="field">
    <!-- Label -->
    <label
      v-if="label"
      :for="computedId"
      class="field__label"
    >
      {{ label }}:
    </label>

    <!-- Input -->
    <input
      :id="computedId"
      v-model="myModel"
      type="text"
      autocomplete="off"
      :name="computedId"
      :placeholder="placeholder"
      required
      :class="['field__input']"
      @input="$emit('search', myModel);"
    >
  </section>
</template>

<script>
import _uniqueId from 'lodash/uniqueId';

export default {
  name: 'Search',

  props: {
    label: {
      type: String,
      default: null,
    },
    placeholder: {
      type: String,
      default: 'placeholder',
    },
  },

  data: () => ({
    myModel: null,
  }),

  computed: {
    computedId() {
      return _uniqueId('input-');
    },
  },
};
</script>

<style lang="scss" scoped>
.field {

  &__label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
  }

  &__input {
    padding: 8px;
    width: 100%;
    border-radius: 0;
    border: 1px solid lightgray;
    font-size: 16px;

    &::placeholder {
      color: #29313a;
    }

    &:focus {
      outline: none;
    }
  }
}
</style>
