<template>
  <section class="select-group">
    <div class="select-group__list">
      <vue-select
        :id="computedId"
        v-model="agentModel"
        :reduce="item => item"
        :options="options.agentList"
        :searchable="true"
        :clearable="false"
        :clear-search-on-select="true"
        placeholder="Filter by  agent"
        :class="[
          'select-group__select',
        ]"
        @input="$emit('select-agent', agentModel)"
      />

      <vue-select
        :id="computedId"
        v-model="industryModel"
        :reduce="item => item"
        :options="options.industryList"
        :searchable="true"
        :clearable="false"
        :clear-search-on-select="true"
        placeholder="Filter by industry"
        :class="[
          'select-group__select',
        ]"
        @input="$emit('select-industry', industryModel)"
      />
    </div>

    <button
      class="select-group__btn"
      @click="clear"
    >
      Clear Filters
    </button>
  </section>
</template>

<script>
// Vuex
import { mapActions } from 'vuex';

// Plugins
import VueSelect from 'vue-select';
import _uniqueId from 'lodash/uniqueId';

// Export
export default {
  name: 'ModuleSelect',

  // Components
  components: {
    VueSelect,
  },

  // Props
  props: {
    options: {
      type: Object,
      default: Object,
    },
  },

  // Data
  data() {
    return {
      agentModel: null,
      industryModel: null,
    };
  },

  computed: {
    computedId() {
      return _uniqueId('select-');
    },
  },

  methods: {
    ...mapActions([
      'getModel',
    ]),
    clear() {
      this.agentModel = null;
      this.industryModel = null;
      this.getModel();
    },
  },
};
</script>

<style lang="scss">
@import "vue-select/src/scss/vue-select.scss";

.select-group {
  margin-top: 20px;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__select {
    background: white;
    border-radius: 0;
    font-size: 16px;
  }

  &__btn {
    margin-top: 20px;
    border: 0;
    background: #f0ad4e;
    color: white;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
  }
}

.vs__dropdown-toggle {
  border-radius: 0;
  border: 1px solid lightgray;
}
</style>
