<template>
  <section class="sort">
    <label class="sort__label">Sort:</label>
    <div
      v-for="(radio, i) in radios"
      :key="i"
      class="radio"
      tabindex="0"
    >
      <!-- Input -->
      <input
        :id="computedId"
        :v-model="radio"
        :value="radio"
        type="radio"
        name="radio"
        :class="[
          'radio__input',
        ]"
        @change="$emit('sort', radio)"
      >

      <!-- Label -->
      <label
        :for="computedId"
        class="radio__label"
      >
        {{ radio }}
      </label>
    </div>
  </section>
</template>

<script>
import _uniqueId from 'lodash/uniqueId';

export default {
  name: 'Sort',

  props: {
    options: {
      type: Object,
      default: Object,
    },
  },

  data: () => ({
    radios: ['A-Z', 'Z-A'],
  }),

  computed: {
    computedId() {
      return _uniqueId('radio-');
    },
  },
};
</script>

<style lang="scss" scoped>
.sort {
  margin-top: 20px;

  &__label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
  }
}

.radio {
  cursor: pointer;
  margin-bottom: 10px;
}
</style>
