<template>
  <article class="table">
    <div
      v-if="!isMobile"
      class="table__head"
    >
      <span>Deal</span>
      <span>Issuer Id</span>
      <span>Industry Id</span>
      <span>Access Id</span>
      <span>Agent Id</span>
      <span>Source Id</span>
      <span>Room Id</span>
      <span>Type Id</span>
    </div>

    <div class="table__count">
      Showing: <span>{{ options.length }} {{ options.length === 1 ? 'deal' : 'deals' }}.</span>
    </div>

    <transition-group name="transition">
      <Row
        v-for="(item, i) in options"
        :key="i + 1"
        :options="item"
        :search="search"
      />
    </transition-group>
  </article>
</template>

<script>
// Mixins
import screenSizeMixin from '../mixins/screenSizeMixin';

export default {
  name: 'Table',

  components: {
    Row: () => import('./Row'),
  },

  mixins: [screenSizeMixin],

  props: {
    options: {
      type: Array,
      default: () => [],
    },
    search: {
      type: String,
      default: String,
    },
  },

  computed: {
    isMobile() {
      return this.screenSize.maxWidth.lg;
    },
  },
};
</script>

<style lang="scss" scoped>
.table {
  margin-top: 40px;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #E7ECF0;

    span {
      width: 10%;
      font-size: 14px;
      color: #5c99b7;
      font-weight: 500;
      padding: 10px;

      &:not(:last-child) {
        border-right: 1px solid #5c99b7;
      }

      &:first-child,
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(5) {
        width: 20%;
      }
    }
  }

  &__count {
    background: rgb(221, 221, 221);
    padding: 10px;

    span {
      color: #434751;
      font-weight: 600;
    }
  }
}
</style>
