<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
// ------------
// App
// ------------

body {
  margin: 0;
  background: #f5f5f7;
  color: #29313a;
  overflow-x: hidden !important;

  &::-webkit-scrollbar {
    display: none !important;
  }
}

* {
  box-sizing: border-box !important;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: 300;
  transition: .2s ease;
}

#app {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;

  @media screen and (max-width: 768px) {
    width: 95%;
  }
}

.pre {
  max-height: 500px;
  overflow-y: auto;
  border-radius: 4px;
  background: rgb(66, 54, 54);
  color: #cadb2b;
  border: 1px solid black;
  border-left: 5px solid #8f350e;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.75);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.8;
  max-width: 100%;
  padding: 1em;
  display: block;
  word-wrap: break-word;
  margin: 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.transition {
  backface-visibility: hidden;
  z-index: 1;

  &-enter-active {
    //Appearing
    transition: all 0.4s ease;
  }

  &-leave-active {
    // disappear
    transition: all 0.4s ease;
  }

  &-enter,
  &-leave-to {
    opacity: 0;
  }

  &-enter {
    transform: translateY(40px);
  }

  &-leave-to {
    transform: translateY(-40px);
  }
}
</style>
